body {
  overflow-x: hidden;
  min-width: 320px;
  width: 100%;
  max-width: 1100px;
  margin: 0;
  background-color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.cover {
  width: 1100px;
  height: 757px;
}

.description {
  width: 1000px;
  height: 51px;
}

.button_cover {
  width: 256px;
}

.lots {
  height: 723px;
}

.about {
  height: 595px;
}

.about_logo {
  width: 240px;
  height: 240px;
}

.about_content {
  width: 693px;
  height: 449px;
}

.footer {
  width: 1100px;
  height: 180px;
}

.footer_social-media {
  width: 240px;
  height: 48px;
}