.header {
  padding: 90px 87px 93px 48px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header_menu {
  padding: 0px 6px 4px 3px;
  display: flex;
  gap: 32px;
  list-style: circle;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  white-space: nowrap;
  text-underline-offset: 4px;
}

.home {
  list-style-type: none;
}

.img_logo {
  padding: 1px 15px 0 35px;
}

.looks_lots {
  color: #000000;
}

.about_auction {
  color: #000000;
}

.address {
  justify-self: end;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  text-underline-offset: 4px;
}

.telephone {
  color: #000000;
}

.email {
  color: #000000;
}

.cover {
  background-image: url(../images/lotus-flower.png);
  position: relative;
  z-index: -2;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.content_cover {
  padding: 165px 20px 0 50px;
  display: grid;
  color: #ffffff;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30%;
}

.tebe {
  padding: 20px 0 0 0;
  text-align: center;
}

.nado {
  padding: 20px 0 0 0;
  text-align: right;
}

.description {
  padding: 106px 50px 0 51px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  color: #ffffff;
}

.description_content {
  padding: 12px 4px 0 0;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 84%;
  text-transform: uppercase;
}

.button_cover {
  border: 1px solid white;
  background: transparent;
  font-family: "Raleway", serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  color: #ffffff;
  text-transform: uppercase;
}

.lots {
  padding: 181px 0 0 0;
}

.lots_title {
  padding: 0 0 0 64px;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  color: #000000;
  text-transform: uppercase;
}

.lots_content {
  padding-top: 28px;
  padding-left: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lot_content {
  display: flex;
  width: 334px;
  height: 596px;
  flex-direction: column;
  position: relative;
}

.lot_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.lots_content_one {
  background-image: url(../images/lot1.png);
  z-index: -2;
}

.lots_content_two {
  background-image: url(../images/lot2.png);
  background-size: 100% 100%;
  z-index: -2;
}

.lots_content_three {
  background-image: url(../images/lot3.png);
  z-index: -2;
}

.card-link {
  padding: 48px 40px 0 40px;
  height: 100%;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  color: #ffffff;
  text-transform: uppercase;
  text-underline-offset: 3px;
  align-items: flex-end;
}

.lots_text {
  height: 100%;
  text-decoration: none;
}

.text_additional {
  padding: 0 40px 40px 40px;
  position: relative;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.text_additional_one {
  padding: 82px 40px 0 40px;
}

.text_additional_two {
  padding-bottom: 48px;
}

.text_additional_three {
  padding-bottom: 48px;
}

.lots_more {
  display: flex;
  align-items: flex-end;
  padding: 30px 0 0 65px;
  color: #000000;
  text-underline-offset: 5px;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
}

.about {
  padding: 119px 24px 0 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about_logo {
  margin: 35px 0 0 47px;
  display: grid;
  justify-items: center;
  background-color: #000000;
  border-radius: 50%;
}

.about__logo-image {
  display: grid;
  justify-content: center;
  align-items: center;
}

.about_content {
  padding: 137px 0 0 72px;
}

.title_about-content {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about_text-one {
  padding: 100px 10px 0 0;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about_text-two {
  padding: 5px 0 0 0;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: block;
  padding-top: 181px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.address_footer {
  padding-left: 48px;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.footer_menu {
  list-style-type: none;
  text-align: center;
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-underline-offset: 4px;
}

.footer_social-media {
  padding-left: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px;
  text-align: right;
  list-style-type: none;
}
